.unique-text {
    color: #9a9ea5;
    /* Tailwind's gray-500 color */
    cursor: pointer;
    font-size: 14px;
    /* Reduce text size */
    text-align: left;
    font-weight: 600;
    /* Align text to the left */
}

.unique-li {
    margin-bottom: 10px;
    padding: 5px;
}

.active-user {
    background-color: #f3f4f6;
    /* Highlight the active user */
}

.user-details {
    margin-top: 20px;
    padding: 15px;
    text-align: left;
    /* Ensure the details are aligned to the left */
    font-size: 14px;
    /* Reduce text size for user details */
}